@use "sass:map";
@use "sass:list";

//sizes screen
$breakpoint-xs: 375px;
$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-four_k: 2560px;

// height/width - elements
$header-height: 73px;
$button-outline-height: 50px;
$button-withIcon-height: 42px;


$box-shadow: 0px 5px 14px 0px #0000000d;

//event-card
$number-lines-describe: 5;

//$color-gray: #d00a0a;
$color-white: #e0e0e0;
$color-white-200: rgba(#ECECEC, 0.44);
$color-black: #0a0a0a;


//color sheme
//grey
$color-grey-100: #5B5B5B;
$color-grey-200: #2b2b2b;
$color-grey-300: #151515;
$color-grey-400: #222222;
//red
$color-red-100: #B15551;
$color-red-200: #FF3333;
//green
$color-green-100: #628B5C;


$icon-font-family: "icomoon";
$icon-degrees-config: 45, 90, 180, 270, 360;

$icon-color-config: (
  default: $color-grey-100,
  blue: #0000FF,
  grey: $color-grey-300,
  white: $color-white,
);

