@import '@common/styles/variables';
@import '@common/styles/mixins/media';

%position {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.backPicture {
  background: linear-gradient(90deg, rgba(34, 34, 34, 0.74) 1.70%, rgba(34, 34, 34, 0.72) 49.23%, rgba(34, 34, 34, 0.14) 85.71%);
  height: 100%;
  position: absolute;
  @extend %position;
  width: 100%;
}

.waves {
  position: absolute;
  transform: translateX(-70px);
  @extend %position;
  left: -60px;
}
